<!DOCTYPE html>
<html>
<head>
    <title>Hello from Flask</title>
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>

    </style>
</head>
    <body>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6 text-center">
                <h1>Publish an advertisement!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
                <form>
                  <div class="form-group">
                      <label>Topic</label>
                      <br>
                      <div class="btn-toolbar" data-toggle="buttons">
                          <label class="btn btn-info">
                              <input type="checkbox" checked autocomplete="off"> Food
                          </label>
                          <label class="btn btn-info active">
                            <input type="checkbox" autocomplete="off"> Gas
                          </label>
                          <label class="btn btn-info">
                            <input type="checkbox" autocomplete="off"> Bar
                          </label>
                      </div>
                  </div>
                  <div class="form-group">
                        <label>Advertisement Content</label>
                        <textarea class="form-control" rows="3" placeholder="Content"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    <!--{% if name %}
      <h1>Hello {{ name }}!</h1>
    {% else %}
      <h1>Hello World!</h1>
    {% endif %}-->

    </body>
</html>